/*重置浏览器样式*/
		* {
		    padding: 0;
		    margin: 0;
		}
		a {text-decoration: none;}
		ul {list-style-type: none;}
/*清除浮动*/
		.clear:after {
		    content: '';
		    display: block;
		    height: 0;
		    clear: both;
		}
		body {
			line-height: 1;
    		background: rgb(250, 250, 250);
		}
		img {vertical-align: bottom;}
		.container {
    		width: 960px;
    		text-align: center;
    		margin: 0 auto;
		}
		.fl {float: left;}
		.fr {float: right;}
/*导航一*/
		.header-bottom {height: 51px;}
		.nav {margin-top: 21px;}
		.logo {
    		width: 85px;
    		height: 20px;
    		margin-top: 17px;
		}
		.nav li {
    		float: left;
    		padding: 0 22px;
		}

		li.first {
    		padding-left: 80px;
		}

		li.last {
    		border: none;
    		padding-right: 20px;
		}

		.nav a {
    		font-size: 9px;
    		font-weight: bold;
    		color: rgba(5, 5, 5, 1);
		}
		.form {
    		margin-top: 16px;
    		padding-left: 94px;
		}

		.form * {
    		float: left;

		}

		.form .search {
   			 width: 180px;
   			 height: 20px;
    		 border: 1px solid rgba(0,164,255, 1);
    		 padding-left: 10px;
    		 font-size:7px;
			 font-family:Microsoft YaHei;
   			 font-weight:400;
			 color:rgba(191,191,191,1);
 			 line-height:16px;

		}
		.form .submit {
    		width: 26px;
    		height: 22px;
    		border: 1px solid rgba(0,164,255, 1);
    		background: rgba(0,164,255, 1) url('../images/search.png') no-repeat center center;
    		cursor: pointer;
		}
		:focus {
    		outline: none;
		}
		.last{
			margin-top: 22px;
			padding-left: 16px;
			font-size:7px;
			font-family:Microsoft YaHei;
			font-weight:400;
			color:rgba(102,102,102,1);
		}
/*第一段*/
		.banner {
    		height: 210px; 
    		background-color: rgba(28,3,108,1);
		}
		.biaoti{
			width: 95;
			background-color: rgba(28,3,108,1);
			margin-top: 12px;
			padding-left: 10px;
		}
		ul.txt{
			font-size:7px;
			font-family:Microsoft YaHei;
			font-weight:400;
			color:rgba(255,255,255,1);
			line-height:22px;
		}
		span.char{
			width:3px;
			height:5px;
			color:rgba(229,229,229,1);
		}
/*导航二*/
		.nav2{
			margin-top: 4px;
			height: 30px;
			background:rgba(255,255,255,1);
			box-shadow:0px 1px 2px 0px rgba(118,118,118,0.2); 
		}
		.nav2 li {
    		float: left;
    		padding: 0 11px;
    		order-left: 1px solid rgba(190,190,190,1);
    	}
    	.nav2 a{
    		font-size:8px;
			font-family:Microsoft YaHei;
			font-weight:bold;
			color:rgba(5, 5, 5, 1);
		}
		span.color{
			color: rgba(0, 164, 255, 1);
		}
		p.nav2last{
			padding-left: 345px
			font-size:8px;
			font-weight:bold;
		}
/*导航三*/
		.nav3{
			margin-top: 19px;
			height: 10px;
		}
		p.nav3last{
			padding-right: 100px
		}
		span.color2{
			font-size:6px;
			font-weight:bold;
			color:rgba(165,165,165,1);
		}
		.nav3q{
			height: 10px;
		}
/*课程一*/
		.part1{
			width:1300px;
			height:270px;
			margin: 0 auto;
			margin-top:21px;
		}
		.part1>div{
			float:left;
			width: 228px;
			height: 270px;
			margin-left: 15px;
			box-shadow:0px 2px 5px 0px rgba(117,117,117,0.5);
			margin-top:0px;
			margin-bottom: 15px;
			background:rgba(255,255,255,1);
			position: relative;
		}
		.part1 img{
			width:228px;
			height:155px;
			margin-top: 0;
		}
		.part1 .WZ1{
			font-size:14px;
			line-height:20px;
			margin-left: 23px;
			margin-top: 24px;
			width: 185px;
			color:rgba(13,13,13,1);
			position: absolute;
		}
		.part1 .WZ2{
			font-size:12px;
			color:rgba(227,123,54,1);
			margin-left: 23px;
			margin-top: 76px;
			position: absolute;
		}
		.part1 .WZ3{
			font-size:12px;
			color: #989898;
			margin-top: 76px;
			margin-left: 50px;
			position: absolute;
		}
/*课程一重复*/
		.part2{
			width:1300px;
			height:270px;
			margin: 0 auto;
			margin-top:21px;
		}
		.part2>div{
			float:left;
			width: 228px;
			height: 270px;
			margin-left: 15px;
			background:rgba(255,255,255,1);
			box-shadow:0px 2px 5px 0px rgba(117,117,117,0.5);
			margin-top:0px;
			margin-top: 0px;
			position: relative;
		}
		.part2 img{
			width:228px;
			height:155px;
			margin-top: 0;
		}
		.part2 .WZ1{
			font-size:14px;
			line-height:20px;
			margin-left: 23px;
			margin-top: 24px;
			width: 185px;
			color:rgba(13,13,13,1);
			position: absolute;
		}
		.part2 .WZ2{
			font-size:12px;
			position: absolute;
			margin-left: 23px;
			margin-top: 76px;
			color:rgba(227,123,54,1);
		}
		.part2.WZ3{
			font-size:12px;
			color: #989898;
			margin-top: 76px;
			margin-left: 50px;
			position: absolute;
		}
/*导航四*/
		.part3{
			width: 1200px;
			height: 77px;
			margin: 0 auto;
		}
		.part3 .nav4{
			float: left;
			font-size:20px;
			margin-top: 37px;
			color:rgba(74,74,74,1);
		}
		.part3 ul{
			float:left;
			margin-left:200px;
		}
		.part3>ul li{
			float: left;
			margin-top: 41px;
			padding-left: 72px;
			font-size:16px;
			color:rgba(134, 134, 134, 1);
		}
		.part3>ul>li a:hover{
			color:rgba(0, 164, 255, 1);
		}
		.part3 .quanbu{
			float: right;
			font-size:12px;
			margin-top: 41px;
			margin-right: 40px;
			color:rgba(163,163,163,1);
		}
/*课程二*/
		.part4{
			width:1300px;
			height:270px;
			margin: 0 auto;
			margin-top:21px;
		}
		.part4>div{
			float:left;
			width: 228px;
			height: 270px;
			margin-left: 15px;
			position: relative;
			margin-top: 0px;
			margin-top:0px;
			background:rgba(255,255,255,1);
			box-shadow:0px 2px 5px 0px rgba(117,117,117,0.5);
		}
		.part4 img{
			width:228px;
			height:155px;
			margin-top: 0;
		}
		.part4 .WZ1{
			font-size:14px;
			margin-top: 24px;
			position: absolute;
			line-height:20px;
			margin-left: 23px;
			width: 185px;
			color:rgba(13,13,13,1);
		}
		.part4 .WZ2{
			font-size:12px;
			margin-left: 23px;
			margin-top: 76px;
			position: absolute;
			color:rgba(227,123,54,1);
		}
		.part4 .WZ3{
			font-size:12px;
			color: #989898;
			margin-top: 76px;
			margin-left: 50px;
			position: absolute;
		}
		.nav5{
			width: 1200px;
			height: 87px;
			margin: 0 auto;
		}
		.nav5 .niu{
			float: left;
			font-size:20px;
			margin-top: 27px;
			color:rgba(73,73,73,1);
		}
/*老师介绍*/
		.part5{
			margin: 0 auto;
			height: 320px;
			width: 1300px;
		}
		.part5 .biye{
			float: left;
			width: 471px;
			height: 320px;
			background: url('../images/ls0.png') no-repeat center center;
		}
		.part5 .biyeji{
			width:163px;
			font-size:30px;
			font-weight:bold;
			line-height:36px;
			margin-top: 99px;
			margin-left: 25px;
			display:block;
			color:rgba(242,224,53,1);
		}
		.part5 .daini{
			width: 163px;
			font-size:27px;
			color: white;
			display: block;
			line-height: 36px;
			margin-left: 25px;
		}
		.part5 .dianji{
			display: block;
			width: 87px;
			height: 25px;
			font-size:13px;
			color:rgba(242,224,53,1);
			line-height:20px;
			padding-top: 5px;
			margin-left: 28px;
			margin-top: 12px;
			text-align: center;
			border: 1px solid rgba(242,224,53,1);
		}
		.part5>div{
			float: left;
			width: 228px;
			height: 320px;
			margin-left: 15px;
		}
		.part5 .diyi{
			background-image: url('../images/ls1.png');
			background-position: -6px -6px;
		}
		.part5 .dier{
			background-image: url('../images/ls2.png');
			background-position: -6px -6px;
		}
		.part5 .disan{
			background-image: url('../images/ls3.png');
			background-position: -6px -6px;
		}
		.part5 .bottom{
			width:229px;
			height:122px;
			background:rgba(0,0,0,0.5);
			top: 62%;
			position: relative;
		}
		.part5 p{
			margin-left: 29px;
		}
		.part5 .teacher .teacher{
			font-weight: bold;
		}
		.part5 .teacher{
			padding-top: 21px;
			width: 108px;
			height: 18px;
			color:rgba(255,255,255,1);
		}
		.part5 .job{
			font-size: 14px;
			color: rgba(255,255,255,1);
		}
		.part5 .jieshao{
			display: block;
			font-size:12px;
			color:rgba(255,255,255,1);
			line-height:20px;
			padding-top: 12px;
			width: 175px;
			height: 53px;
			
		}
/*底部*/
		.dibu{
			height:417px;
			background:rgba(255,255,255,1);
		}
		.container1{
			width:1300px;
			height:417px;
			margin:0 auto;
		}
		.dibu>.container1>.left>.xueli{
			font-size:36px;
			font-weight:bold;
			line-height:21px;
			margin-top: 124px;
			color:rgba(0,164,255,1);
		}
		.dibu .container1 .left{
			float: left;
		}
		.dibu.container1 .left a{
			color:rgba(0,164,255,1);
		}
		.dibu .container1 .left .zhili{
			font-size:12px;
			font-family:SimSun;
			line-height:18px;
			padding-top: 35px;
			color:rgba(102,102,102,1);
		}
		.dibu .container1 .APP{
			font-size:16px;
			color:rgba(0,164,255,1);
			line-height:36px;
			height:36px;
			width:120px;
			text-align: center;
			margin-top: 33px;
			border:1px solid rgba(0,164,255,1);
		}
		.dibu .container1 .left1{
			margin-top: 129px;
			margin-left: 273px;
			float: left;
		}
		.dibu .container .left li{
			font-size:12px;
			font-family:SimSun;
			color:rgba(51,51,51,1);
			line-height:21px;
		}
		.dibu .container1 .kaishi{
			font-size:16px;
			line-height:21px;
			padding-bottom: 16px;
			color:rgba(51,51,51,1);
		}

		.dibu .container1 .left2{
			float:left;
			margin-top:129px;
			margin-left: 146px;
			
		}
		.dibu .container1 .left3{
			float:left;
			margin-left:152px;
			margin-top:130px;
		}
